<button command="show-modal" commandfor="demo">Add Comic</button>

<dialog id="demo">
  <header>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <main>
        <div class="dialog-form-control">
          <label for="file">Comic file:</label>
          <input
            type="file"
            id="file1"
            formControlName="file"
            (change)="onFileChange($event)"
          />
        </div>
        <div class="dialog-form-control">
          <label for="name">Name: </label>
          <input type="text" formControlName="name" id="name" />
        </div>
        <div class="dialog-form-control">
          <label for="category">Category</label>
          <input type="text" formControlName="category" id="category" />
        </div>
      </main>
      <footer class="dialog-footer">
        <button type="submit">Enviar</button>
        <button type="button" command="close" commandfor="demo">Close</button>
      </footer>
    </form>
  </header>
</dialog>
